In [1]:
from PIL import Image
import cv2

# Load the image

image_path = 'Cambodia Burning.jpeg.jpg'
image = Image.open(image_path)

# image = cv2.imread("almora_fire.jpeg")

# Define the number of rows and columns in the grid
num_rows = 540988
num_cols = 540988

# Determine the width and height of each grid cell
cell_width = image.width / num_cols
cell_height = image.height / num_rows


import numpy as np
data = np.loadtxt('coordinates.txt')
Long = data[:,0];
Lat = data[:,1];

# image.width
cell_width

0.0018299851383025132

In [ ]:
grid_cell_val = []
for lon_row in Long:
    for lat_col in Lat:
        grid_cell_val.append([lon_row, lat_col])

# grid_cell_val
len(grid_cell_val)

In [3]:
import pandas as pd
pixelData = pd.read_excel("final_lat_long_fp.xlsx")
xCord = pixelData["X-cord"]
yCord = pixelData["Y-cord"]

In [4]:
x1= round(xCord/cell_width)
y1 = round(yCord/cell_height)
type(x1)

pandas.core.series.Series

In [5]:
limit = len(x1)
limit

13

In [6]:
x1 = x1.astype(int)
y1 = y1.astype(int)
(x1,y1)

(0      7
 1     10
 2     13
 3     14
 4     17
 5     19
 6     24
 7     19
 8     23
 9     28
 10    30
 11    32
 12    38
 Name: X-cord, dtype: int32,
 0     39
 1     37
 2     37
 3     36
 4     35
 5     34
 6     32
 7     32
 8     29
 9     28
 10    26
 11    25
 12    23
 Name: Y-cord, dtype: int32)

In [7]:
combined = []
for i in range(len(x1)):
    combined.append(x1[i]*y1[i])
combined = pd.Series(combined)
combined = combined.astype(int)
combined

0     273
1     370
2     481
3     504
4     595
5     646
6     768
7     608
8     667
9     784
10    780
11    800
12    874
dtype: int32

In [8]:
# grid_index = []
# for i in range(len(x1)):
#     grid_index.append()

In [9]:
# grid_cell_val[10856]
final_lat_long = []
for i in range(len(x1)):
    final_lat_long.append(grid_cell_val[combined[i]])
final_lat_long

[[79.725, 29.5534],
 [79.7583, 29.5969],
 [79.675, 29.5969],
 [79.6917, 29.6549],
 [79.7083, 29.5824],
 [79.725, 29.5969],
 [79.7583, 29.5824],
 [79.7083, 29.5679],
 [79.725, 29.5534],
 [79.6583, 29.6549],
 [79.7583, 29.5534],
 [79.6583, 29.6259],
 [79.675, 29.5969]]

In [10]:
# dct=[]
# for k in range(len(final_lat_long)):
#     dct[k] = {"Long":final_lat_long[i][0][0],"Lat":final_lat_long[i][0][1]}
#     dat = dat + [dct[k]]
#     dataa = pd.DataFrame(dat)
#     dataa.to_excel("outputData.xlsx")

In [11]:
df = pd.DataFrame(final_lat_long)
df.to_excel("final_lat_long.xlsx")
df

          0        1
0   79.7250  29.5534
1   79.7583  29.5969
2   79.6750  29.5969
3   79.6917  29.6549
4   79.7083  29.5824
5   79.7250  29.5969
6   79.7583  29.5824
7   79.7083  29.5679
8   79.7250  29.5534
9   79.6583  29.6549
10  79.7583  29.5534
11  79.6583  29.6259
12  79.6750  29.5969